{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="card caard col-md-12 " style="padding: 50px; color:#800080;">
        <h3 class="card-title d-flex justify-content-center">تغيير كلمة المرور</h3><hr>
      <!-- /.card-header -->
      <!-- form start -->
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
          <p class="p-3 d-flex justify-content-center">هل تريد تغيير كلمة المرور ؟</p>
        </div>
        <!-- /.card-body -->
        <div class="d-flex justify-content-center" style="padding: 20px;">
            <div class="mb-3 d-grid gap-2">
            <input type="password" placeholder="كلمة المرور القديمة" name="old-password" class="form-control"><br>
            <input type="password" placeholder="كلمة المرور" name="password1" class="form-control"><br>
            <input type="password" placeholder=" تأكيد كلمة المرور" name="password2" class="form-control">
            <br><hr>
          <button type="submit" class="btn btn-success" style="margin: 10px;">حفظ</button>
          <a
            href="{% url 'profile' pk=user.id %}"
            type="button"
            class="btn btn-danger"
            style="margin: 10px;"
            >تراجع</a
          >
          <a
            href="{% url 'forgot_password' %}"
            type="button"
            style="margin: 10px;"
            >نسيت كلمة المرور ؟</a
          >
        </div></div>
      </form>
    </div>
  </div>
  {% endblock %}
</div>
