{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="card caard col-md-12 " style="padding: 50px; color:#800080;">
        <h3 class="card-title d-flex justify-content-center">نسيت كلمة المرور</h3><hr>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post">
        {% csrf_token %}
        <label for="email">أدخل بريدك الإلكتروني:</label><br>
        <input class="form-control" type="email" name="email" required><br><br>
        <button class="btn" style="background-color: blueviolet; font-size: 1em; font-family: 'Almarai', sans-serif; color:aliceblue; border-radius: 5px;" type="submit">إرسال</button>
    </form>
    </div>
  </div>
  {% endblock %}
</div>
