<style>
  :root {
  --background: #ffffff;
  --navbar-width: 256px;
  --navbar-width-min: 80px;
  --navbar-dark-primary: blueviolet;
  --navbar-dark-secondary: #2d0132;
  --navbar-light-primary: #f5f6fa;
  --navbar-light-secondary: #00053d;
}

html, body {
  margin: 0;
  background: var(--background);
}


#nav-bar {
            position: fixed;
            left: 0.4vw;
            bottom: 1vw; /* Move sidebar to bottom */
            height: calc(100% - 2vw); /* Adjust height for bottom positioning */
            background: var(--navbar-dark-primary);
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            color: var(--navbar-light-primary);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            overflow: hidden;
            user-select: none;
            width: 17%;
        }
#nav-bar hr {
            margin: 0;
            position: relative;
            left: 16px;
            width: calc(100% - 32px);
            border: none;
            border-top: solid 1px var(--navbar-dark-secondary);
        }

        #nav-bar a {
            color: inherit;
            text-decoration: inherit;
        }

        #nav-bar input[type=checkbox] {
            display: none;
        }

        #nav-header {
            position: relative;
            width: var(--navbar-width);
            left: 16px;
            width: calc(var(--navbar-width) - 16px);
            min-height: 80px;
            background: var(--navbar-dark-primary);
            border-radius: 16px;
            z-index: 2;
            display: flex;
            align-items: center;
            transition: width 0.2s;
            font-family: "Alegreya Sans SC" ,sans-serif;
        }

        #nav-header hr {
            position: absolute;
            bottom: 0;
        }

        #nav-title {
            font-size: 2rem;
            transition: opacity 1s;
        }

        label[for=nav-toggle] {
            position: absolute;
            right: 0;
            width: 3rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        #nav-toggle-burger {
            position: relative;
            width: 16px;
            height: 2px;
            background: var(--navbar-dark-primary);
            border-radius: 99px;
            transition: background 0.2s;
        }

        #nav-toggle-burger:before, #nav-toggle-burger:after {
            content: "";
            position: absolute;
            top: -6px;
            width: 10px;
            height: 2px;
            background: var(--navbar-light-primary);
            border-radius: 99px;
            transform: translate(2px, 8px) rotate(30deg);
            transition: 0.2s;
        }

        #nav-toggle-burger:after {
            top: 6px;
            transform: translate(2px, -8px) rotate(-30deg);
        }

        #nav-content {
            margin: -16px 0;
            padding: 16px 0;
            position: relative;
            flex: 1;
            width: var(--navbar-width);
            background: var(--navbar-dark-primary);
            box-shadow: 0 0 0 16px var(--navbar-dark-primary);
            direction: rtl;
            overflow-x: hidden;
            transition: width 0.2s;
        }

        #nav-content::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        #nav-content::-webkit-scrollbar-thumb {
            border-radius: 99px;
            background-color: #f9f9f9;
        }

        #nav-content::-webkit-scrollbar-button {
            height: 16px;
        }

        #nav-content-highlight {
            position: absolute;
            left: 16px;
            top: -70px;
            width: calc(100% - 16px);
            height: 54px;
            background: var(--background);
            background-attachment: fixed;
            border-radius: 16px 0 0 16px;
            transition: top 0.2s;
        }

        #nav-content-highlight:before, #nav-content-highlight:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 100%;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            box-shadow: 16px 16px var(--background);
        }

        #nav-content-highlight:after {
            top: 100%;
            box-shadow: 16px -16px var(--background);
        }

        .nav-button {
            position: relative;
            margin-left: 16px;
            height: 54px;
            display: flex;
            align-items: center;
            color: var(--navbar-light-secondary);
            direction: ltr;
            cursor: pointer;
            z-index: 1;
            transition: color 0.2s;
        }

        .nav-button span {
            transition: opacity 1s;
        }

        .nav-button .fas {
            transition: min-width 0.2s;
        }

        .nav-button:nth-of-type(1):hover {
            color: var(--navbar-dark-primary);
        }

        .nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
            top: 16px;
        }

        .nav-button:nth-of-type(2):hover {
            color: var(--navbar-dark-primary);
        }

        .nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
            top: 70px;
        }

        .nav-button:nth-of-type(3):hover {
            color: var(--navbar-dark-primary);
        }

        .nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
            top: 124px;
        }

        .nav-button:nth-of-type(4):hover {
            color: var(--navbar-dark-primary);
        }

        .nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
            top: 178px;
        }

        .nav-button:nth-of-type(5):hover {
            color: var(--navbar-dark-primary);
        }

        .nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
            top: 232px;
        }

        .nav-button:nth-of-type(6):hover {
            color: var(--navbar-dark-primary);
        }

        .nav-button:nth-of-type(6):hover ~ #nav-content-highlight {
            top: 286px;
        }

        .nav-button:nth-of-type(7):hover {
            color: var(--navbar-dark-primary);
        }

        .nav-button:nth-of-type(7):hover ~ #nav-content-highlight {
            top: 340px;
        }

        .nav-button:nth-of-type(8):hover {
            color: var(--navbar-dark-primary);
        }

        .nav-button:nth-of-type(8):hover ~ #nav-content-highlight {
            top: 394px;
        }

        #nav-bar .fas {
            min-width: 3rem;
            text-align: center;
        }

        #nav-footer {
            position: relative;
            width: var(--navbar-width);
            height: 54px;
            background: var(--navbar-dark-secondary);
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            z-index: 2;
            transition: width 0.2s, height 0.2s;
        }

        #nav-footer-heading {
            position: relative;
            width: 100%;
            height: 54px;
            display: flex;
            align-items: center;
        }

        #nav-footer-avatar {
            position: relative;
            margin: 11px 0 11px 16px;
            left: 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;
            transform: translate(0);
            transition: 0.2s;
        }

        #nav-footer-avatar img {
            height: 100%;
        }

        #nav-footer-titlebox {
            position: relative;
            margin-left: 16px;
            width: 10px;
            display: flex;
            flex-direction: column;
            transition: opacity 1s;
        }

        #nav-footer-subtitle {
            color: var(--navbar-light-secondary);
            font-size: 0.6rem;
        }

        #nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer {
            height: 30%;
            min-height: 54px;
        }

        #nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer label[for=nav-footer-toggle] {
            transform: rotate(180deg);
        }

        label[for=nav-footer-toggle] {
            position: absolute;
            right: 0;
            width: 3rem;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: transform 0.2s, opacity 0.2s;
        }

        #nav-footer-content {
            margin: 0 16px 16px 16px;
            border-top: solid 1px var(--navbar-light-secondary);
            padding: 16px 0;
            color: var(--navbar-light-secondary);
            font-size: 0.8rem;
            overflow: auto;
        }

        #nav-footer-content::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        #nav-footer-content::-webkit-scrollbar-thumb {
            border-radius: 99px;
            background-color: #f2efff;
        }

        @media (max-width: 480px) {
            #nav-bar {
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 70px;
                margin: 10px;
                display: flex;
                justify-content: space-around;
                background-color: var(--navbar-dark-primary);
                border-radius: 8px 8px 8px 8px;
                padding: 10px 0;
                z-index: 9999;
                justify-content: center;
            }

            #nav-content {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                padding: 0;
                background: none;
            }

            .nav-button {
                flex: 1;
                text-align: center;
                padding: 10px;
            }

            .main{
                display: none;
            }

            #nav-header, #nav-footer {
                display: none;
            }
        }
    </style>

<div id="nav-bar" dir="ltr">
  <input id="nav-toggle" type="checkbox"/>
  <div id="nav-header"><a id="nav-title" href="{% url 'home' %}" target="_blank">Z</i>aied Academy</a>

    <hr/>
  </div>
  <div id="nav-content" dir="rtl">
    <div class="nav-button"><a href="{% url 'dashboard' %}"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;<span class="main">الصفحة الرئيسية</a></span></div>

    <div class="nav-button"><a href="{% url 'stat_dashboard' %}"><i class="fa-solid fa-chart-simple"></i>&nbsp;&nbsp;<span class="main">الأحصائيات</a></span></div>
    
    <div class="nav-button"><a href="{% url 'teacher_video'  %}"><i class="fa-solid fa-film"></i>&nbsp;&nbsp;<span class="main">فيديوهاتك</a></span></div>

    <div class="nav-button"><a href="{% url 'teacher_pdf'  %}"><i class="fa-solid fa-file-pdf"></i>&nbsp;&nbsp;<span class="main">PDFs</a></span></div>
    
    <div class="nav-button"><a href="{% url 'teacher_quiz'  %}"><i class="fa-solid fa-clipboard-question"></i></i>&nbsp;&nbsp;<span class="main">Quizs</a></span></div>
    
    <div class="nav-button"><a href="{% url 'student_teacher'  %}"><i class="fa-solid fa-users"></i></i>&nbsp;&nbsp;<span class="main">Students</a></span></div>    
    
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox"/>
  <div id="nav-footer">
    <div id="nav-footer-heading">
      <div id="nav-footer-avatar"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"/></div>
      <div id="nav-footer-titlebox"><a id="nav-footer-title" href="https://codepen.io/uahnbu/pens/public" target="_blank">زايد</a><span id="nav-footer-subtitle" style="color: #6d708c; font-size:0.9em;">Admin</span></div>
      <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
    </div>
    <div id="nav-footer-content">
      <Lorem style="color: aliceblue;">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</Lorem>
    </div>
  </div>
</div>
